{% extends 'patient/basepat.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3"><h3> Create Appointments </h3></div>

</div>
<form action="{% url 'create-checkout-session' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

        <div class="card" style="width: 18rem;">
        <div class="card-body">
    <h5 class="card-title">Appointment</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Total Price :250 </h6>


    <input type="submit" value="Submit"    class="btn btn-primary">

</div>
</div>

  </form>


{% endblock %}
