<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h3>Admin Login</h3>
<button type="button" class="btn btn-primary">
    <a href="{% url 'login' %}" >Login</a></button>
<button type="button" class="btn btn-success">
   <a href="{% url 'register' %}" >Register</a>
</button>


<h3>Doctor Login</h3>
<button type="button" class="btn btn-primary">
    <a href="{% url 'logindr' %}" >Login</a></button>
<button type="button" class="btn btn-success">
   <a href="{% url 'registerdr' %}" >Register</a>
</button>

<h3>Patient Login</h3>
<button type="button" class="btn btn-primary">
    <a href="{% url 'loginpatient' %}" >Login</a></button>
<button type="button" class="btn btn-success">
   <a href="{% url 'registerpatient' %}" >Register</a>
</button>

</body>
</html>
